    <li class="active"><a href="//{{ subdn.domain }}/">Homepage</a></li>
    <li><a href="//{{ subdn.domain }}/tabular/">Tabular Data</a></li>
    <li><a href="//{{ subdn.domain }}/graph/">Graph Data</a></li>

