    <li class="active"><a href="//{{ subdn.domain }}/">Homepage</a></li>
    <li><a href="//{{ subdn.domain }}/map">Interactive Maps</a></li>
    <li><a href="//{{ subdn.domain }}/near">Near-by</a></li>

