    <li class="active"><a href="//{{ subdn.domain }}/">Homepage</a></li>
    <li><a href="//{{ subdn.domain }}/shell">Interactive Shell</a></li>
    <li><a href="//{{ subdn.domain }}/sandbox">Sandbox</a></li>

