{% extends 'layouts/dashboard.html' %}

{% block page_title %}
Dashboard
<small>header small text goes here...</small>
{% endblock %}

{% block before_widgets %}
				    <div class="col-md-3 col-sm-6">
					    <div class="widget widget-stats bg-purple">
						    <div class="stats-icon"><i class="fa fa-globe"></i></div>
						    <div class="stats-info">
							    <h4>RDF namespaces</h4>
							    <p>{{ opendata.rdf.namespace|length }}</p>	
						    </div>
						    <div class="stats-link">
							    <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
						    </div>
					    </div>
				    </div>
				    <div class="col-md-3 col-sm-6">
					    <div class="widget widget-stats bg-green">
						    <div class="stats-icon"><i class="fa fa-code"></i></div>
						    <div class="stats-info">
							    <h4>RDF ontologies</h4>
							    <p>{{ opendata.rdf.ontology|length }}</p>	
						    </div>
						    <div class="stats-link">
							    <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
						    </div>
					    </div>
				    </div>
				    <div class="col-md-3 col-sm-6">
					    <div class="widget widget-stats bg-blue">
						    <div class="stats-icon"><i class="fa fa-database"></i></div>
						    <div class="stats-info">
							    <h4>SPARQL ontologies</h4>
							    <p>{{ opendata.sparql.ontology|length }}</p>	
						    </div>
						    <div class="stats-link">
							    <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
						    </div>
					    </div>
				    </div>
				    <div class="col-md-3 col-sm-6">
					    <div class="widget widget-stats bg-red">
						    <div class="stats-icon"><i class="fa fa-plug"></i></div>
						    <div class="stats-info">
							    <h4>SPARQL endpoints</h4>
							    <p>{{ opendata.sparql.endpoint|length }}</p>	
						    </div>
						    <div class="stats-link">
							    <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
						    </div>
					    </div>
				    </div>
{% endblock %}

{% block after_widgets %}
{% endblock %}

