{% load staticfiles %}<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
    <head>
	    <meta charset="utf-8" />
	    <title>Uchikoma | Satellite</title>
	    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	    <meta content="" name="description" />
	    <meta content="" name="author" />
	    <!-- ================== BEGIN BASE CSS STYLE ================== -->
	    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	    <link href="{% static 'plugins/jquery-ui/themes/base/minified/jquery-ui.min.css' %}" rel="stylesheet" />
	    <link href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
	    <link href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
	    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet" />
	    <link href="{% static 'css/style.min.css' %}" rel="stylesheet" />
	    <link href="{% static 'css/style-responsive.min.css' %}" rel="stylesheet" />
	    <link href="{% static 'css/theme/default.css' %}" rel="stylesheet" id="theme" />
	    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
{% block app_styles %}
{% endblock %}
	    <link href="{% static 'plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" />
	    <link href="{% static 'plugins/bootstrap-datepicker/css/datepicker.css' %}" rel="stylesheet" />
	    <link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
        <link href="{% static 'plugins/gritter/css/jquery.gritter.css' %}" rel="stylesheet" />
	    <!-- ================== BEGIN BASE JS ================== -->
	    <script src="{% static 'plugins/pace/pace.min.js' %}"></script>
    </head>
    <body>
	    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
	    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
{% block body %}
		    <div id="header" class="header navbar navbar-default navbar-fixed-top">
			    <div class="container-fluid">
				    <div class="navbar-header">
					    <a href="/" class="navbar-brand"><span class="navbar-logo"></span> {{ page.section }}</a>
					    <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
						    <span class="icon-bar"></span>
						    <span class="icon-bar"></span>
						    <span class="icon-bar"></span>
					    </button>
				    </div>
				    <ul class="nav navbar-nav navbar-right">
{% include 'inc/navbar.html' %}
				    </ul>
			    </div>
		    </div>
		    <div id="sidebar" class="sidebar">
{% include 'inc/sidebar.html' %}
		    </div>
		    <div class="sidebar-bg"></div>
		    <div id="content" class="content">
{% block page_heading %}
			    <ol class="breadcrumb pull-right">
{% block page_breadcrumb %}
				    <li><a href="javascript:;">Home</a></li>
				    <li class="active">Dashboard</li>
{% endblock %}
			    </ol>
			    <h1 class="page-header">
{% block page_title %}
                    Dashboard <small>header small text goes here...</small>
{% endblock %}
                </h1>
{% endblock %}
{% block page_container %}
			    <div class="row">
{% block page_content %}{% endblock %}
		        </div>
{% endblock %}
		    </div>
{% endblock %}
            <div class="theme-panel">
                <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
                <div class="theme-panel-content">
{% include 'inc/panel.html' %}
                </div>
            </div>
		    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
	    </div>
	    <script src="{% static 'plugins/jquery/jquery-1.9.1.min.js' %}"></script>
	    <script src="{% static 'plugins/jquery/jquery-migrate-1.1.0.min.js' %}"></script>
	    <script src="{% static 'plugins/jquery-ui/ui/minified/jquery-ui.min.js' %}"></script>
	    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
	    <!--[if lt IE 9]>
		    <script src="{% static 'crossbrowserjs/html5shiv.js' %}"></script>
		    <script src="{% static 'crossbrowserjs/respond.min.js' %}"></script>
		    <script src="{% static 'crossbrowserjs/excanvas.min.js' %}"></script>
	    <![endif]-->
	    <script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
	    <script src="{% static 'plugins/jquery-cookie/jquery.cookie.js' %}"></script>
{% block app_scripts %}
	    <script src="{% static 'plugins/gritter/js/jquery.gritter.js' %}"></script>
	    <script src="{% static 'plugins/flot/jquery.flot.min.js' %}"></script>
	    <script src="{% static 'plugins/flot/jquery.flot.time.min.js' %}"></script>
	    <script src="{% static 'plugins/flot/jquery.flot.resize.min.js' %}"></script>
	    <script src="{% static 'plugins/flot/jquery.flot.pie.min.js' %}"></script>
	    <script src="{% static 'plugins/sparkline/jquery.sparkline.js' %}"></script>
	    <script src="{% static 'plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
	    <script src="{% static 'plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
	    <script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
{% endblock %}
{% block app_modules %}
	    <script src="{% static 'js/dashboard.min.js' %}"></script>
{% endblock %}
	    <script src="{% static 'js/apps.min.js' %}"></script>
        <script>
AUTOBAHN_DEBUG = true;
        </script>
        <script src="http://autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz"></script>
        <script>
$(document).ready(function() {
    App.init();
    Dashboard.init();
});
	    </script>
	    <script>
var connection = new autobahn.Connection({
    url:   "ws://connect.uchikoma.xyz/junction",
    realm: "uchikoma"
});

var t1, t2;

connection.onopen = function (session, details) {
    console.log("Connected");

    function on_counter (args) {
       var counter = args[0];
       console.log("on_counter() event received with counter " + counter);
    }
    session.subscribe('com.example.oncounter', on_counter).then(
       function (sub) {
          console.log('subscribed to topic');
       },
       function (err) {
          console.log('failed to subscribe to topic', err);
       }
    );

    t1 = setInterval(function () {

       session.publish('com.example.onhello', ['Hello from JavaScript (browser)']);
       console.log("published to topic 'com.example.onhello'");
    }, 1000);

    function mul2 (args) {
       var x = args[0];
       var y = args[1];
       console.log("mul2() called with " + x + " and " + y);
       return x * y;
    }
    session.register('com.example.mul2', mul2).then(
       function (reg) {
          console.log('procedure registered');
       },
       function (err) {
          console.log('failed to register procedure', err);
       }
    );

    var x = 0;

    t2 = setInterval(function () {
       session.call('com.example.add2', [x, 18]).then(
          function (res) {
             console.log("add2() result:", res);
          },
          function (err) {
             console.log("add2() error:", err);
          }
       );

       x += 3;
    }, 1000);
};

connection.onclose = function (reason, details) {
    console.log("Connection lost: " + reason);
    if (t1) {
       clearInterval(t1);
       t1 = null;
    }
    if (t2) {
       clearInterval(t2);
       t2 = null;
    }
}

connection.open();
	    </script>
{% block app_integration %}
        <script>
window.fbAsyncInit = function() {
FB.init({
  appId      : '1761961887348597',
  xfbml      : true,
  version    : 'v2.5'
});
};

(function(d, s, id){
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) {return;}
 js = d.createElement(s); js.id = id;
 js.src = "//connect.facebook.net/en_US/sdk.js";
 fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
        </script>
{% endblock %}
    </body>
</html>

