{% load staticfiles %}
<div data-scrollbar="true" data-height="100%">
    <!-- begin sidebar user -->
    <ul class="nav">
	    <li class="nav-profile">
		    <div class="image">
			    <a href="javascript:;"><img src="{% static identity.mugshot %}" alt="" /></a>
		    </div>
		    <div class="info">
			    {{ identity.full_name }}
			    <small>{{ identity.full_title }}</small>
		    </div>
	    </li>
    </ul>
    <ul class="nav">
	    <li class="nav-header">Navigation</li>
{% for subdn in catalog.subdomain.values %}
	    <li class="has-sub{% if page.subdomain == subdn.name %} active{% endif %}">
		    <a href="javascript:;">
		        <b class="caret pull-right"></b>
		        <i class="fa fa-{{ subdn.icon }}"></i>
		        <span>{{ subdn.title }}</span>
	        </a>
		    <ul class="sub-menu">
{% include subdn.menu_path %}
		    </ul>
	    </li>
{% endfor %}
	    <li class="has-sub">
		    <a href="javascript:;">
		        <b class="caret pull-right"></b>
		        <i class="fa fa-align-left"></i> 
		        <span>Menu Level</span>
		    </a>
		    <ul class="sub-menu">
			    <li class="has-sub">
				    <a href="javascript:;">
		                <b class="caret pull-right"></b>
		                Menu 1.1
		            </a>
				    <ul class="sub-menu">
					    <li class="has-sub">
						    <a href="javascript:;">
						        <b class="caret pull-right"></b>
						        Menu 2.1
						    </a>
						    <ul class="sub-menu">
							    <li><a href="javascript:;">Menu 3.1</a></li>
							    <li><a href="javascript:;">Menu 3.2</a></li>
						    </ul>
					    </li>
					    <li><a href="javascript:;">Menu 2.2</a></li>
					    <li><a href="javascript:;">Menu 2.3</a></li>
				    </ul>
			    </li>
			    <li><a href="javascript:;">Menu 1.2</a></li>
			    <li><a href="javascript:;">Menu 1.3</a></li>
		    </ul>
	    </li>
	    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
    </ul>
</div>

